DataManager/Connected Services/UserDBServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UserDBService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserSetPw_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPw" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserSetPw_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSetPwResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameAvailable" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_PutUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:PutUserData" />
  </wsdl:message>
  <wsdl:message name="IUserService_PutUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UserLogin" message="tns:IUserService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserLoginResponse" message="tns:IUserService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSetPw">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UserSetPw" message="tns:IUserService_UserSetPw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserSetPwResponse" message="tns:IUserService_UserSetPw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsUserNameAvailable" message="tns:IUserService_IsUserNameAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsUserNameAvailableResponse" message="tns:IUserService_IsUserNameAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/PutUserData" message="tns:IUserService_PutUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/PutUserDataResponse" message="tns:IUserService_PutUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserData" message="tns:IUserService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserDataResponse" message="tns:IUserService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserList" message="tns:IUserService_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserListResponse" message="tns:IUserService_GetUserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSetPw">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserSetPw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameAvailable">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsUserNameAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutUserData">
      <soap:operation soapAction="http://tempuri.org/IUserService/PutUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/UserDBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>