DataManager/Connected Services/LeagueDBServiceRef/iRLeagueDatabase.DataTransfer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" />
  <xs:complexType name="VersionInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfoDTO" nillable="true" type="tns:VersionInfoDTO" />
  <xs:complexType name="SeasonInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="SeasonId" type="xs:int" />
          <xs:element minOccurs="0" name="SeasonName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeasonInfoDTO" nillable="true" type="tns:SeasonInfoDTO" />
  <xs:complexType name="SeasonDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SeasonInfoDTO">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q1:LeagueMemberInfoDTO" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q2:LeagueMemberInfoDTO" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="Results" nillable="true" type="q3:ArrayOfResultInfoDTO" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="Reviews" nillable="true" type="q4:ArrayOfIncidentReviewInfoDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="Schedules" nillable="true" type="q5:ArrayOfScheduleInfoDTO" />
          <xs:element minOccurs="0" name="SeasonEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SeasonStart" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeasonDataDTO" nillable="true" type="tns:SeasonDataDTO" />
  <xs:complexType name="ArrayOfSeasonDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeasonDataDTO" nillable="true" type="tns:SeasonDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeasonDataDTO" nillable="true" type="tns:ArrayOfSeasonDataDTO" />
</xs:schema>