DataManager/Connected Services/LeagueDBServiceRef/LeagueDBService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeagueDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILeagueDBService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd8" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Messages" />
      <xsd:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestMessage">
    <wsdl:part name="parameters" element="tns:RequestMessage" />
  </wsdl:message>
  <wsdl:message name="RequestMessage_Headers">
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="password" element="tns:password" />
    <wsdl:part name="requestItemType" element="tns:requestItemType" />
    <wsdl:part name="requestResponse" element="tns:requestResponse" />
    <wsdl:part name="userName" element="tns:userName" />
  </wsdl:message>
  <wsdl:message name="ResponseMessage">
    <wsdl:part name="parameters" element="tns:ResponseMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseMessage_Headers">
    <wsdl:part name="Username" element="tns:Username" />
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="status" element="tns:status" />
  </wsdl:message>
  <wsdl:message name="POSTItemsRequestMessage">
    <wsdl:part name="parameters" element="tns:POSTItemsRequestMessage" />
  </wsdl:message>
  <wsdl:message name="POSTItemsRequestMessage_Headers">
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="password" element="tns:password" />
    <wsdl:part name="requestItemType" element="tns:requestItemType" />
    <wsdl:part name="requestResponse" element="tns:requestResponse" />
    <wsdl:part name="userName" element="tns:userName" />
  </wsdl:message>
  <wsdl:message name="POSTItemsResponseMessage">
    <wsdl:part name="parameters" element="tns:POSTItemsResponseMessage" />
  </wsdl:message>
  <wsdl:message name="POSTItemsResponseMessage_Headers">
    <wsdl:part name="Username" element="tns:Username" />
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="status" element="tns:status" />
  </wsdl:message>
  <wsdl:message name="GETItemsRequestMessage">
    <wsdl:part name="parameters" element="tns:GETItemsRequestMessage" />
  </wsdl:message>
  <wsdl:message name="GETItemsRequestMessage_Headers">
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="password" element="tns:password" />
    <wsdl:part name="requestItemType" element="tns:requestItemType" />
    <wsdl:part name="requestResponse" element="tns:requestResponse" />
    <wsdl:part name="userName" element="tns:userName" />
  </wsdl:message>
  <wsdl:message name="GETItemsResponseMessage">
    <wsdl:part name="parameters" element="tns:GETItemsResponseMessage" />
  </wsdl:message>
  <wsdl:message name="GETItemsResponseMessage_Headers">
    <wsdl:part name="Username" element="tns:Username" />
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="status" element="tns:status" />
  </wsdl:message>
  <wsdl:message name="PUTItemsRequestMessage">
    <wsdl:part name="parameters" element="tns:PUTItemsRequestMessage" />
  </wsdl:message>
  <wsdl:message name="PUTItemsRequestMessage_Headers">
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="password" element="tns:password" />
    <wsdl:part name="requestItemType" element="tns:requestItemType" />
    <wsdl:part name="requestResponse" element="tns:requestResponse" />
    <wsdl:part name="userName" element="tns:userName" />
  </wsdl:message>
  <wsdl:message name="PUTItemsResponseMessage">
    <wsdl:part name="parameters" element="tns:PUTItemsResponseMessage" />
  </wsdl:message>
  <wsdl:message name="PUTItemsResponseMessage_Headers">
    <wsdl:part name="Username" element="tns:Username" />
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="status" element="tns:status" />
  </wsdl:message>
  <wsdl:message name="DELItemsRequestMessage">
    <wsdl:part name="parameters" element="tns:DELItemsRequestMessage" />
  </wsdl:message>
  <wsdl:message name="DELItemsRequestMessage_Headers">
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="password" element="tns:password" />
    <wsdl:part name="requestItemType" element="tns:requestItemType" />
    <wsdl:part name="requestResponse" element="tns:requestResponse" />
    <wsdl:part name="userName" element="tns:userName" />
  </wsdl:message>
  <wsdl:message name="DELItemsResponseMessage">
    <wsdl:part name="parameters" element="tns:DELItemsResponseMessage" />
  </wsdl:message>
  <wsdl:message name="DELItemsResponseMessage_Headers">
    <wsdl:part name="Username" element="tns:Username" />
    <wsdl:part name="databaseName" element="tns:databaseName" />
    <wsdl:part name="status" element="tns:status" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_SetDatabaseName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDatabaseName" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_SetDatabaseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDatabaseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_TestDB_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDB" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_TestDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDBResponse" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_CalculateScoredResults_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateScoredResults" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_CalculateScoredResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateScoredResultsResponse" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_CleanUpSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanUpSessions" />
  </wsdl:message>
  <wsdl:message name="ILeagueDBService_CleanUpSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanUpSessionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeagueDBService">
    <wsdl:operation name="MessageTest">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/MessageTest" name="RequestMessage" message="tns:RequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/MessageTestResponse" name="ResponseMessage" message="tns:ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabasePOST">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/DatabasePOST" name="POSTItemsRequestMessage" message="tns:POSTItemsRequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/DatabasePOSTResponse" name="POSTItemsResponseMessage" message="tns:POSTItemsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseGET">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/DatabaseGET" name="GETItemsRequestMessage" message="tns:GETItemsRequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/DatabaseGETResponse" name="GETItemsResponseMessage" message="tns:GETItemsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabasePUT">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/DatabasePUT" name="PUTItemsRequestMessage" message="tns:PUTItemsRequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/DatabasePUTResponse" name="PUTItemsResponseMessage" message="tns:PUTItemsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseDEL">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/DatabaseDEL" name="DELItemsRequestMessage" message="tns:DELItemsRequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/DatabaseDELResponse" name="DELItemsResponseMessage" message="tns:DELItemsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDatabaseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/SetDatabaseName" message="tns:ILeagueDBService_SetDatabaseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/SetDatabaseNameResponse" message="tns:ILeagueDBService_SetDatabaseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/TestDB" message="tns:ILeagueDBService_TestDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/TestDBResponse" message="tns:ILeagueDBService_TestDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/Test" message="tns:ILeagueDBService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/TestResponse" message="tns:ILeagueDBService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateScoredResults">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/CalculateScoredResults" message="tns:ILeagueDBService_CalculateScoredResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/CalculateScoredResultsResponse" message="tns:ILeagueDBService_CalculateScoredResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanUpSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeagueDBService/CleanUpSessions" message="tns:ILeagueDBService_CleanUpSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeagueDBService/CleanUpSessionsResponse" message="tns:ILeagueDBService_CleanUpSessions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILeagueDBService" type="tns:ILeagueDBService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILeagueDBService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MessageTest">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/MessageTest" style="document" />
      <wsdl:input name="RequestMessage">
        <soap12:header message="tns:RequestMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:RequestMessage_Headers" part="password" use="literal" />
        <soap12:header message="tns:RequestMessage_Headers" part="requestItemType" use="literal" />
        <soap12:header message="tns:RequestMessage_Headers" part="requestResponse" use="literal" />
        <soap12:header message="tns:RequestMessage_Headers" part="userName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseMessage">
        <soap12:header message="tns:ResponseMessage_Headers" part="Username" use="literal" />
        <soap12:header message="tns:ResponseMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:ResponseMessage_Headers" part="status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabasePOST">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/DatabasePOST" style="document" />
      <wsdl:input name="POSTItemsRequestMessage">
        <soap12:header message="tns:POSTItemsRequestMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:POSTItemsRequestMessage_Headers" part="password" use="literal" />
        <soap12:header message="tns:POSTItemsRequestMessage_Headers" part="requestItemType" use="literal" />
        <soap12:header message="tns:POSTItemsRequestMessage_Headers" part="requestResponse" use="literal" />
        <soap12:header message="tns:POSTItemsRequestMessage_Headers" part="userName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="POSTItemsResponseMessage">
        <soap12:header message="tns:POSTItemsResponseMessage_Headers" part="Username" use="literal" />
        <soap12:header message="tns:POSTItemsResponseMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:POSTItemsResponseMessage_Headers" part="status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseGET">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/DatabaseGET" style="document" />
      <wsdl:input name="GETItemsRequestMessage">
        <soap12:header message="tns:GETItemsRequestMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:GETItemsRequestMessage_Headers" part="password" use="literal" />
        <soap12:header message="tns:GETItemsRequestMessage_Headers" part="requestItemType" use="literal" />
        <soap12:header message="tns:GETItemsRequestMessage_Headers" part="requestResponse" use="literal" />
        <soap12:header message="tns:GETItemsRequestMessage_Headers" part="userName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GETItemsResponseMessage">
        <soap12:header message="tns:GETItemsResponseMessage_Headers" part="Username" use="literal" />
        <soap12:header message="tns:GETItemsResponseMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:GETItemsResponseMessage_Headers" part="status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabasePUT">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/DatabasePUT" style="document" />
      <wsdl:input name="PUTItemsRequestMessage">
        <soap12:header message="tns:PUTItemsRequestMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:PUTItemsRequestMessage_Headers" part="password" use="literal" />
        <soap12:header message="tns:PUTItemsRequestMessage_Headers" part="requestItemType" use="literal" />
        <soap12:header message="tns:PUTItemsRequestMessage_Headers" part="requestResponse" use="literal" />
        <soap12:header message="tns:PUTItemsRequestMessage_Headers" part="userName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PUTItemsResponseMessage">
        <soap12:header message="tns:PUTItemsResponseMessage_Headers" part="Username" use="literal" />
        <soap12:header message="tns:PUTItemsResponseMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:PUTItemsResponseMessage_Headers" part="status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseDEL">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/DatabaseDEL" style="document" />
      <wsdl:input name="DELItemsRequestMessage">
        <soap12:header message="tns:DELItemsRequestMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:DELItemsRequestMessage_Headers" part="password" use="literal" />
        <soap12:header message="tns:DELItemsRequestMessage_Headers" part="requestItemType" use="literal" />
        <soap12:header message="tns:DELItemsRequestMessage_Headers" part="requestResponse" use="literal" />
        <soap12:header message="tns:DELItemsRequestMessage_Headers" part="userName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DELItemsResponseMessage">
        <soap12:header message="tns:DELItemsResponseMessage_Headers" part="Username" use="literal" />
        <soap12:header message="tns:DELItemsResponseMessage_Headers" part="databaseName" use="literal" />
        <soap12:header message="tns:DELItemsResponseMessage_Headers" part="status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDatabaseName">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/SetDatabaseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDB">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/TestDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateScoredResults">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/CalculateScoredResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanUpSessions">
      <soap12:operation soapAction="http://tempuri.org/ILeagueDBService/CleanUpSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeagueDBService">
    <wsdl:port name="NetTcpBinding_ILeagueDBService" binding="tns:NetTcpBinding_ILeagueDBService">
      <soap12:address location="net.tcp://vmd48609:505/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://vmd48609:505/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>