DataManager/Connected Services/LeagueDBServiceRef/Service29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" />
  <xs:complexType name="ResultInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q1:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultId" nillable="true" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="Session" nillable="true" type="q2:SessionInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultInfoDTO" nillable="true" type="tns:ResultInfoDTO" />
  <xs:complexType name="ArrayOfResultInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultInfoDTO" nillable="true" type="tns:ResultInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultInfoDTO" nillable="true" type="tns:ArrayOfResultInfoDTO" />
  <xs:complexType name="ArrayOfScoringDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoringDataDTO" nillable="true" type="tns:ScoringDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoringDataDTO" nillable="true" type="tns:ArrayOfScoringDataDTO" />
  <xs:complexType name="ScoringDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScoringInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageRaceNr" type="xs:int" />
          <xs:element minOccurs="0" name="BasePoints" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BonusPoints" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q3:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="DropWeeks" type="xs:int" />
          <xs:element minOccurs="0" name="IncPenaltyPoints" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q4:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="MultiScoringFactors" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MultiScoringResults" nillable="true" type="tns:ArrayOfScoringInfoDTO" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfResultInfoDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="Season" nillable="true" type="q5:SeasonInfoDTO" />
          <xs:element minOccurs="0" name="SeasonId" type="xs:long" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="Sessions" nillable="true" type="q6:ArrayOfSessionInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScoringDataDTO" nillable="true" type="tns:ScoringDataDTO" />
  <xs:complexType name="ScoringInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q7:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ScoringId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScoringInfoDTO" nillable="true" type="tns:ScoringInfoDTO" />
  <xs:complexType name="ArrayOfScoringInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoringInfoDTO" nillable="true" type="tns:ScoringInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoringInfoDTO" nillable="true" type="tns:ArrayOfScoringInfoDTO" />
  <xs:complexType name="ResultDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultInfoDTO">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q8:LeagueMemberInfoDTO" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q9:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="RawResults" nillable="true" type="tns:ArrayOfResultRowDataDTO" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="Reviews" nillable="true" type="q10:ArrayOfIncidentReviewInfoDTO" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="Season" nillable="true" type="q11:SeasonInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataDTO" nillable="true" type="tns:ResultDataDTO" />
  <xs:complexType name="ArrayOfResultRowDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultRowDataDTO" nillable="true" type="tns:ResultRowDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultRowDataDTO" nillable="true" type="tns:ArrayOfResultRowDataDTO" />
  <xs:complexType name="ResultRowDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q12:MappableDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvgLapTime" type="ser:duration" />
          <xs:element minOccurs="0" name="Car" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ClassId" type="xs:int" />
          <xs:element minOccurs="0" name="CompletedLaps" type="xs:int" />
          <xs:element minOccurs="0" name="FastLapNr" type="xs:int" />
          <xs:element minOccurs="0" name="FastestLapTime" type="ser:duration" />
          <xs:element minOccurs="0" name="FinishPosition" type="xs:int" />
          <xs:element minOccurs="0" name="Incidents" type="xs:int" />
          <xs:element minOccurs="0" name="Interval" type="ser:duration" />
          <xs:element minOccurs="0" name="LeadLaps" type="xs:int" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="Member" nillable="true" type="q13:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="PositionChange" type="xs:int" />
          <xs:element minOccurs="0" name="QualifyingTime" type="ser:duration" />
          <xs:element minOccurs="0" name="ResultId" type="xs:long" />
          <xs:element minOccurs="0" name="ResultRowId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="StartPosition" type="xs:int" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" minOccurs="0" name="Status" type="q14:RaceStatusEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultRowDataDTO" nillable="true" type="tns:ResultRowDataDTO" />
  <xs:complexType name="ScoredResultDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultDataDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ScoredResults" nillable="true" type="tns:ArrayOfScoredResultRowDataDTO" />
          <xs:element minOccurs="0" name="Scoring" nillable="true" type="tns:ScoringInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScoredResultDataDTO" nillable="true" type="tns:ScoredResultDataDTO" />
  <xs:complexType name="ArrayOfScoredResultRowDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoredResultRowDataDTO" nillable="true" type="tns:ScoredResultRowDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoredResultRowDataDTO" nillable="true" type="tns:ArrayOfScoredResultRowDataDTO" />
  <xs:complexType name="ScoredResultRowDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultRowDataDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BonusPoints" type="xs:int" />
          <xs:element minOccurs="0" name="FinalPosition" type="xs:int" />
          <xs:element minOccurs="0" name="FinalPositionChange" type="xs:int" />
          <xs:element minOccurs="0" name="PenaltyPoints" type="xs:int" />
          <xs:element minOccurs="0" name="RacePoints" type="xs:int" />
          <xs:element minOccurs="0" name="ScoringId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScoredResultRowDataDTO" nillable="true" type="tns:ScoredResultRowDataDTO" />
</xs:schema>