DataManager/Connected Services/LeagueDBServiceRef/Service214.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestResponse" type="xs:boolean" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestMessage" nillable="true" type="tns:RequestMessage" />
</xs:schema>