DataManager/Connected Services/LeagueDBServiceRef/Service213.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:complexType name="RaceSessionDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionDataDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IrResultLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IrSessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Laps" type="xs:int" />
          <xs:element minOccurs="0" name="PracticeAttached" type="xs:boolean" />
          <xs:element minOccurs="0" name="PracticeLength" type="ser:duration" />
          <xs:element minOccurs="0" name="QualyAttached" type="xs:boolean" />
          <xs:element minOccurs="0" name="QualyLength" type="ser:duration" />
          <xs:element minOccurs="0" name="RaceId" type="xs:int" />
          <xs:element minOccurs="0" name="RaceLength" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RaceSessionDataDTO" nillable="true" type="tns:RaceSessionDataDTO" />
  <xs:complexType name="SessionDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionInfoDTO">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q1:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Duration" type="ser:duration" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q2:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Schedule" nillable="true" type="tns:ScheduleInfoDTO" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="SessionResult" nillable="true" type="q3:ResultInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionDataDTO" nillable="true" type="tns:SessionDataDTO" />
  <xs:complexType name="SessionInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q4:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:int" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" minOccurs="0" name="SessionType" type="q5:SessionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionInfoDTO" nillable="true" type="tns:SessionInfoDTO" />
  <xs:complexType name="ScheduleInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q6:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ScheduleId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleInfoDTO" nillable="true" type="tns:ScheduleInfoDTO" />
  <xs:complexType name="ScheduleDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleInfoDTO">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q7:LeagueMemberInfoDTO" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q8:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sessions" nillable="true" type="tns:ArrayOfSessionDataDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleDataDTO" nillable="true" type="tns:ScheduleDataDTO" />
  <xs:complexType name="ArrayOfSessionDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionDataDTO" nillable="true" type="tns:SessionDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionDataDTO" nillable="true" type="tns:ArrayOfSessionDataDTO" />
  <xs:complexType name="ArrayOfScheduleInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleInfoDTO" nillable="true" type="tns:ScheduleInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleInfoDTO" nillable="true" type="tns:ArrayOfScheduleInfoDTO" />
  <xs:complexType name="ArrayOfScheduleDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleDataDTO" nillable="true" type="tns:ScheduleDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleDataDTO" nillable="true" type="tns:ArrayOfScheduleDataDTO" />
</xs:schema>