DataManager/Connected Services/LeagueDBServiceRef/Service215.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SessionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Practice" />
      <xs:enumeration value="Qualifying" />
      <xs:enumeration value="Race" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SessionType" nillable="true" type="tns:SessionType" />
  <xs:simpleType name="VoteEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoVote" />
      <xs:enumeration value="Kat0" />
      <xs:enumeration value="Kat1" />
      <xs:enumeration value="Kat2" />
      <xs:enumeration value="Kat3" />
      <xs:enumeration value="Indecisive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoteEnum" nillable="true" type="tns:VoteEnum" />
  <xs:simpleType name="RaceStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Running" />
      <xs:enumeration value="Disconnected" />
      <xs:enumeration value="Disqualified" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RaceStatusEnum" nillable="true" type="tns:RaceStatusEnum" />
</xs:schema>