DataManager/Connected Services/LeagueDBServiceRef/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:complexType name="AuthenticationResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="AuthenticatedUser" nillable="true" type="q1:LeagueUserDTO" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResult" nillable="true" type="tns:AuthenticationResult" />
</xs:schema>