DataManager/Connected Services/LeagueDBServiceRef/Service210.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RequestMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="databaseName" nillable="true" type="xs:string" />
  <xs:element name="password" nillable="true" type="xs:string" />
  <xs:element name="requestItemType" nillable="true" type="xs:string" />
  <xs:element name="requestResponse" type="xs:boolean" />
  <xs:element name="userName" nillable="true" type="xs:string" />
  <xs:element name="ResponseMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Username" nillable="true" type="xs:string" />
  <xs:element name="status" nillable="true" type="xs:string" />
  <xs:element name="POSTItemsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfMappableDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="POSTItemsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="items" nillable="true" type="q2:ArrayOfMappableDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETItemsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestItemIds" nillable="true" type="q3:ArrayOfArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETItemsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="items" nillable="true" type="q4:ArrayOfMappableDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUTItemsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="items" nillable="true" type="q5:ArrayOfMappableDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUTItemsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="items" nillable="true" type="q6:ArrayOfMappableDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELItemsRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestItemIds" nillable="true" type="q7:ArrayOfArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELItemsResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatabaseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatabaseNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScoredResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateScoredResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUpSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUpSessionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>