TestConsole/Connected Services/LeagueDBServiceRef/Service914.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" />
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" />
  <xs:element name="TestDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seasonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="GetSeasonResult" nillable="true" type="q1:SeasonDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seasonIds" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="GetSeasonsResult" nillable="true" type="q3:ArrayOfSeasonDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="season" nillable="true" type="q4:SeasonDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="PutSeasonResult" nillable="true" type="q5:SeasonDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="GetMemberResult" nillable="true" type="q6:LeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberId" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="GetMembersResult" nillable="true" type="q8:ArrayOfLeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="members" nillable="true" type="q9:ArrayOfLeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="UpdateMemberListResult" nillable="true" type="q10:ArrayOfLeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMember">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="GetLastMemberResult" nillable="true" type="q11:LeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="member" nillable="true" type="q12:LeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="PutMemberResult" nillable="true" type="q13:LeagueMemberDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="GetReviewResult" nillable="true" type="q14:IncidentReviewDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="review" nillable="true" type="q15:IncidentReviewDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="PutReviewResult" nillable="true" type="q16:IncidentReviewDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="GetSessionResult" nillable="true" type="q17:SessionDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="session" nillable="true" type="q18:SessionDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="PutSessionResult" nillable="true" type="q19:SessionDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="GetCommentResult" nillable="true" type="q20:CommentDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="comment" nillable="true" type="q21:ReviewCommentDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="PutCommentResult" nillable="true" type="q22:CommentDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="GetScheduleResult" nillable="true" type="q23:ScheduleDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scheduleIds" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q25:ArrayOfScheduleDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="schedule" nillable="true" type="q26:ScheduleDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="PutScheduleResult" nillable="true" type="q27:ScheduleDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="GetResultResult" nillable="true" type="q28:ResultDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="result" nillable="true" type="q29:ResultDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="PutResultResult" nillable="true" type="q30:ResultDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonStandings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seasonId" type="xs:int" />
        <xs:element minOccurs="0" name="lastSessionId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasonStandingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="GetSeasonStandingsResult" nillable="true" type="q31:ArrayOfStandingsRowDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamStandings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seasonId" type="xs:int" />
        <xs:element minOccurs="0" name="lastSessionId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamStandingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" minOccurs="0" name="GetTeamStandingsResult" nillable="true" type="q32:ArrayOfStandingsRowDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUpSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanUpSessionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>