TestConsole/Connected Services/LeagueDBServiceRef/Service97.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://144.91.113.195:5051/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:complexType name="LeagueMemberInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q1:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="MemberId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeagueMemberInfoDTO" nillable="true" type="tns:LeagueMemberInfoDTO" />
  <xs:complexType name="LeagueMemberDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LeagueMemberInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="DanLisaId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscordId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IRacingId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeagueMemberDataDTO" nillable="true" type="tns:LeagueMemberDataDTO" />
  <xs:complexType name="ArrayOfLeagueMemberDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeagueMemberDataDTO" nillable="true" type="tns:LeagueMemberDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeagueMemberDataDTO" nillable="true" type="tns:ArrayOfLeagueMemberDataDTO" />
  <xs:complexType name="ArrayOfLeagueMemberInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeagueMemberInfoDTO" nillable="true" type="tns:LeagueMemberInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeagueMemberInfoDTO" nillable="true" type="tns:ArrayOfLeagueMemberInfoDTO" />
</xs:schema>