TestConsole/Connected Services/LeagueServiceDebug/iRLeagueDatabase.DataTransfer.Results1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" />
  <xs:complexType name="ResultInfoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" base="q1:VersionInfoDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultId" nillable="true" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Sessions" minOccurs="0" name="Session" nillable="true" type="q2:SessionInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultInfoDTO" nillable="true" type="tns:ResultInfoDTO" />
  <xs:complexType name="ArrayOfResultInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultInfoDTO" nillable="true" type="tns:ResultInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultInfoDTO" nillable="true" type="tns:ArrayOfResultInfoDTO" />
  <xs:complexType name="ResultDataDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultInfoDTO">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="CreatedBy" nillable="true" type="q3:LeagueMemberInfoDTO" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="LastModifiedBy" nillable="true" type="q4:LeagueMemberInfoDTO" />
          <xs:element minOccurs="0" name="RawResults" nillable="true" type="tns:ArrayOfResultRowDataDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Reviews" minOccurs="0" name="Reviews" nillable="true" type="q5:ArrayOfIncidentReviewInfoDTO" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer" minOccurs="0" name="Season" nillable="true" type="q6:SeasonInfoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataDTO" nillable="true" type="tns:ResultDataDTO" />
  <xs:complexType name="ArrayOfResultRowDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultRowDataDTO" nillable="true" type="tns:ResultRowDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultRowDataDTO" nillable="true" type="tns:ArrayOfResultRowDataDTO" />
  <xs:complexType name="ResultRowDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgLapTime" type="ser:duration" />
      <xs:element minOccurs="0" name="BonusPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Car" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="CompletedLaps" type="xs:int" />
      <xs:element minOccurs="0" name="FastLapNr" type="xs:int" />
      <xs:element minOccurs="0" name="FastestLapTime" type="ser:duration" />
      <xs:element minOccurs="0" name="FinalPosition" type="xs:int" />
      <xs:element minOccurs="0" name="FinishPosition" type="xs:int" />
      <xs:element minOccurs="0" name="Incidents" type="xs:int" />
      <xs:element minOccurs="0" name="Interval" type="ser:duration" />
      <xs:element minOccurs="0" name="LeadLaps" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iRLeagueDatabase.DataTransfer.Members" minOccurs="0" name="Member" nillable="true" type="q7:LeagueMemberInfoDTO" />
      <xs:element minOccurs="0" name="PositionChange" type="xs:int" />
      <xs:element minOccurs="0" name="QualifyingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="RacePoints" type="xs:int" />
      <xs:element minOccurs="0" name="ResultRowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartPosition" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iRLeagueManager.Enums" minOccurs="0" name="Status" type="q8:RaceStatusEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultRowDataDTO" nillable="true" type="tns:ResultRowDataDTO" />
  <xs:complexType name="ArrayOfStandingsRowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandingsRowDTO" nillable="true" type="tns:StandingsRowDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandingsRowDTO" nillable="true" type="tns:ArrayOfStandingsRowDTO" />
  <xs:complexType name="StandingsRowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" type="xs:int" />
      <xs:element minOccurs="0" name="FastestLaps" type="xs:int" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PenaltyPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="PointsChange" type="xs:int" />
      <xs:element minOccurs="0" name="Poles" type="xs:int" />
      <xs:element minOccurs="0" name="Pos" type="xs:int" />
      <xs:element minOccurs="0" name="RacesCounted" type="xs:int" />
      <xs:element minOccurs="0" name="RacesParticipated" type="xs:int" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Top10" type="xs:int" />
      <xs:element minOccurs="0" name="Top15" type="xs:int" />
      <xs:element minOccurs="0" name="Top20" type="xs:int" />
      <xs:element minOccurs="0" name="Top3" type="xs:int" />
      <xs:element minOccurs="0" name="Top5" type="xs:int" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandingsRowDTO" nillable="true" type="tns:StandingsRowDTO" />
</xs:schema>